NET "c<0>" LOC = P57 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "c<1>" LOC = P66 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "c<2>" LOC = P74 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "c<3>" LOC = P78 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "c<4>" LOC = P80 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "c<5>" LOC = P82 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "c<6>" LOC = P84 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "c<7>" LOC = P87 | IOSTANDARD = LVTTL | DRIVE = 24;

NET "c<8>" LOC = P92   | IOSTANDARD = LVTTL | DRIVE = 24;
NET "c<9>" LOC = P94   | IOSTANDARD = LVTTL | DRIVE = 24;
NET "c<10>" LOC = P97  | IOSTANDARD = LVTTL | DRIVE = 24;
NET "c<11>" LOC = P99  | IOSTANDARD = LVTTL | DRIVE = 24;
NET "c<12>" LOC = P101 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "c<13>" LOC = P104 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "c<14>" LOC = P111 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "c<15>" LOC = P114 | IOSTANDARD = LVTTL | DRIVE = 24;

NET "a<0>" LOC = P58 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "a<1>" LOC = P67 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "a<2>" LOC = P75 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "a<3>" LOC = P79 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "a<4>" LOC = P81 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "a<5>" LOC = P83 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "a<6>" LOC = P85 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "a<7>" LOC = P88 | IOSTANDARD = LVTTL | DRIVE = 24;

NET "a<8>" LOC = P93   | IOSTANDARD = LVTTL | DRIVE = 24;
NET "a<9>" LOC = P95   | IOSTANDARD = LVTTL | DRIVE = 24;
NET "a<10>" LOC = P98  | IOSTANDARD = LVTTL | DRIVE = 24;
NET "a<11>" LOC = P100 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "a<12>" LOC = P102 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "a<13>" LOC = P105 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "a<14>" LOC = P112 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "a<15>" LOC = P115 | IOSTANDARD = LVTTL | DRIVE = 24;

NET "button" LOC = P116 | IOSTANDARD = LVTTL | PULLUP;

NET "io_seg<0>" LOC = P5 | IOSTANDARD = LVTTL;
NET "io_seg<1>" LOC = P8 | IOSTANDARD = LVTTL;
NET "io_seg<2>" LOC = P144 | IOSTANDARD = LVTTL;
NET "io_seg<3>" LOC = P143 | IOSTANDARD = LVTTL;
NET "io_seg<4>" LOC = P2 | IOSTANDARD = LVTTL;
NET "io_seg<5>" LOC = P6 | IOSTANDARD = LVTTL;
NET "io_seg<6>" LOC = P1 | IOSTANDARD = LVTTL;
NET "io_seg<7>" LOC = P141 | IOSTANDARD = LVTTL;

NET "io_sel<0>" LOC = P9 | IOSTANDARD = LVTTL;
NET "io_sel<1>" LOC = P10 | IOSTANDARD = LVTTL;
NET "io_sel<2>" LOC = P7 | IOSTANDARD = LVTTL;
NET "io_sel<3>" LOC = P12 | IOSTANDARD = LVTTL;

NET "io_dip<0>" LOC = P120 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<1>" LOC = P121 | IOSTANDARD = LVTTL | PULLDOWN;
